<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="/resources/vue.js"></script>
    <script src="/resources/jquery-3.2.1.js"></script>
    <script>
        window.onload=function(){
        new Vue({
            el:'#bindCard',
            data:{
                message:'',
                userName:'',
                phoneNum:'',
                password:'',
                emaillAddr:''
            },
            methods:{
                submit:function(event){
                    event.preventDefault();
                    var that = this
                    $.ajax({
                        type: "POST",
                        url: "/bindcard",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(this.$data),
                        dataType: "json",
                        success: function (content) {
                            that.$data.message=content.Message
                        },
                        error: function (err) {
                            alert(err.message);
                        }
                    });
                }
            }
        })
        }
    </script>
</head>
<body>
        <form id="bindCard" v-on:submit="submit">
            <p>姓名</p>
            <input v-model="customerNm"/>
            <p>证件类型</p>
            <input v-model="certifTp"/>
            <p>证件号</p>
            <input v-model="certifId"/>
            <p>卡号</p>
            <input v-model="accNo"/>
            <button type="submit">提交</button>
            <p>{{message}}</p>
        </form>
</body>
</html>